<div style="background-color:lightyellow;">
<div>
<h3 style="font-family:Times">Given below are 10&nbsp;pairs of similar phrases &nbsp;taken from an online debate discussion forum.&nbsp;
 The phrases represent different segments of these debates from different authors and contain arguments in favor and against the topic. For example, consider the statements: </h3>
 <ol type="1">
<li> AIDS was initially spread in the United States primarily by homosexuals.</li>
<li> It is religious belief - not prejudice - that makes one take an anti-gay stance.</li><br>
<li> The issue of gay rights is more political.</li>
<li> Paul is frequently referenced as an expert on the issue of gay marriage and rights.</li><br>
 
 All the above 4 statements represent arguments given by different authors to support their claim or position on the topic of homosexuality.
 Hence they are similar at topic level. However when we compare the argument pairs(1,2) and (3,4) the similarity in pair(1,2) is less as compared to (3,4).
 Pair(3,4) talks about gay rights as political issue while in pair (1,2) argument number 1 is about AIDS and homosexuality while argument number 2 is about the religious
  aspect for taking an anti-gay stance. <br>
  
<h3>Please refer to the scale and examples below to give a  similarity score to these pairs of arguments.
</h3>
<b>(5)Completely equivalent, </b>mean exactly the same<br>
<b>(4)Mostly equivalent, </b> but some unimportant details differ<br>
<b>(3)Roughly equivalent, </b>but some important information differs/missing<br> 
<b>(2)Not equivalent, </b>but share some details<br>
<b>(1)Not equivalent, </b>but are on same topic<br>
<b>(0)On different topic</b><br> 

<b>A Sample of 6 pairs with scores and explanations for each pair is shown below</b><br>
<div style="background-color:lightblue;">
<p><strong>Sample 1</strong> <br><b> Score:&nbsp; </b>5 &nbsp; <b> Completely equivalent, </b>mean exactly the same</p>
Two phrases are from the same topic , discuss same arguments/aspects, represent same side of the debate. None of the phrases conveys any additional information.<br>
<strong>Sentence1:</strong>
Gay marriage is unlikely to be recognized in future. &nbsp;<br>
<strong>Sentence2:</strong>
Gay marriage is not legally recognized.<br><br>
Here both the phrases talk about the same topic of gay marriage, arguing the same aspect of recognition of gay marriage and oppose its recognition.
</div>

<div style="background-color:lightblue;">
<p><strong>Sample 2</strong><br> <b>Score:&nbsp; </b>4 &nbsp; <b> Mostly equivalent, </b> but some unimportant details differ</p>
Two phrases are from the same topic, discuss same arguments, represent same side of the debate. One phrase carries some additional information
but the information is <b>insignificant </b> for that argument.<br>

<strong>Sentence1:</strong>
Broadened marriage is a side effect of legal gay marriage. &nbsp;<br>
<strong>Sentence2:</strong>
definition of marriage should not be changed to include homosexual unions.<br><br>
Both the phrases present an argument that Homosexual unions if legalized may change the definition of marriage.
</div>

<div style="background-color:lightblue;">
<p><strong>Sample 3</strong><br><b>Score:&nbsp;</b>3 <b>Roughly equivalent, </b>but some important information differs/missing</p>

<ul>
<li>Two phrases are from the same topic , discuss same arguments,  represent same side of the debate, but phrases may contain some additional 
important <b>information</b> or a  piece of evidence in support of  that argument.<br>

  <strong>Sentence1:</strong>
In 1909, being homosexual was morally wrong.<br>
<strong>Sentence2:</strong>
Homosexual acts were present at times.<br>
Here the first sentence also conveys the sentiment associated with homosexuality in earlier times, but also brings in the moral aspect.<br><br>
</li>
  <li>Two phrases are from same topic , discuss same arguments but one is in favor and other is against.<br>
<strong>Sentence1:</strong>
gay community is the cause of the AIDs epidemic in the US. &nbsp;<br>
<strong>Sentence2:</strong>
statement of gays spreading AIDs is bigoted.<br>
This is an argument about the attribution of AIDS to gay community, however the two statements represent opposite sides of the debate.
</li>
 
</ul>


</div>


<div style="background-color:lightblue;">
<p><strong>Sample 4</strong><br><b>Score:&nbsp;</b>2 &nbsp; <b>Not equivalent, </b>but share some details</p>
Two phrases represent a  part of the debate  on the same broad topic such as gay marriage, 
but are on different aspects of gay marriage such as one on legal aspect and another on religious aspect.<br>
<strong>Sentence1:</strong>
equal marriage hurts heterosexuals. &nbsp;<br>
<strong>Sentence2:</strong>
West Coasts will have gay marriage laws.<br><br>
Here we infer that the discussion is about gay marriage. Arguments are different, but still there is some similarity among arguments as they both compare marriage. 
<br>
</div>

<div style="background-color:lightblue;">
<p><strong>Sample 5</strong><br><b>Score:&nbsp;</b>1 <b>Not equivalent, </b>but are on same topic</p>
The two phrases are a part of the same debate with completely different arguments.<br>
<strong>Sentence1:</strong>
Statistics regarding AIDs in Africa show that is is not a homosexual disease. &nbsp;<br>
<strong>Sentence2:</strong>
Homosexual liaisons were regarded as unions for a particular purpose, rather than as marriage.<br><br>
The argument in first sentence dicsusses AIDS and homosexuals. The second sentence  discusses the homosexual and the marriage issue. 
</div>



<div style="background-color:lightblue;">
<p><strong>Sample 6</strong><br><b>Score:&nbsp; </b>0 <b>On different topic </b></p>
The two phrases are on completely different topic.<br>
<strong>Sentence1:</strong>
20 large earthquakes in the latter half of this century, compared to about 15 for the first half and about 7 in the entire 19th century. &nbsp;<br>

<strong>Sentence2:</strong>
You cannot justify an anti-gay agenda on morals or religion.<br><br>
The first statement is about the earthquakes and second on homosexuals.<b>
</div>



<b><h3 style="font-family:Times">We would like you to judge to your best ability to score 
each of these pairs. If it is unclear, use your best judgement.&nbsp;We will be keeping track of worker 
reliability through hidden known answers and an automated algorithm.&nbsp;
 Any worker that meets our minimum reliability
 threshold will receive a 25 cent bonus for every 10 HITs  that they do.
 This batch has 100 possible HITs, so if you do them all you can get a $2.5 bonus.<br></h3>

</div>
</div>




<div style="background-color:lightblue;">
<p><strong>1.:</strong></p>

<p><strong>Sentence1:</strong></p>

<p>${stringa_1}&nbsp;</p>

<p><strong>Sentence2:</strong></p>

<p>${stringb_1}</p>

<p><b style="background-color: rgb(173, 216, 230);">Select a similarity score for the above pair of  sentences  </b></p>

<table border="0" cellpadding="0" cellspacing="4">
	<tbody>
		<tr>
			<td valign="center"><input name="response1" type="radio" value="5" /></td>
			<td><b>(5)Completely equivalent, </b>mean exactly the same</td>
		</tr>
			
			<tr>
			<td valign="center"><input name="response1" type="radio" value="4" /></td>
			<td><b>(4)Mostly equivalent, </b> but some unimportant details differ</td>
			</tr>
	    <tr>		
			<td valign="center"><input name="response1" type="radio" value="3" /></td>
			<td><b>(3)Roughly equivalent, </b>but some important information differs/missing</td>
	    </tr>		
	    <tr>		
			<td valign="center"><input name="response1" type="radio" value="2" /></td>
			<td><b>(2)Not equivalent, </b>but share some details</td>
	    </tr>		
	    <tr>		
			<td valign="center"><input name="response1" type="radio" value="1" /></td>
			<td><b>(1)Not equivalent, </b>but are on same topic</td>
		</tr>	
	     <tr>		
			<td valign="center"><input name="response1" type="radio" value="0" /></td>
			<td><b>(0)On different topic</b></td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>

<div style="background-color:lightblue;">
<p><strong>2.:</strong></p>

<p><strong>Sentence1:</strong></p>

<p>${stringa_2}&nbsp;</p>

<p><strong>sentence2:</strong></p>

<p>${stringb_2}</p>

<p><b style="background-color: rgb(173, 216, 230);">Select a similarity score for the above pair of  sentences </b></p>

<table border="0" cellpadding="0" cellspacing="4">
	<tbody>
		<tr>
			<td valign="center"><input name="response2" type="radio" value="5" /></td>
			<td><b>(5)Completely equivalent, </b>mean exactly the same</td>
		</tr>
			
			<tr>
			<td valign="center"><input name="response2" type="radio" value="4" /></td>
			<td><b>(4)Mostly equivalent, </b> but some unimportant details differ</td>
			</tr>
	    <tr>		
			<td valign="center"><input name="response2" type="radio" value="3" /></td>
			<td><b>(3)Roughly equivalent, </b>but some important information differs/missing</td>
	    </tr>		
	    <tr>		
			<td valign="center"><input name="response2" type="radio" value="2" /></td>
			<td><b>(2)Not equivalent, </b>but share some details</td>
	    </tr>		
	    <tr>		
			<td valign="center"><input name="response2" type="radio" value="1" /></td>
			<td><b>(1)Not equivalent, </b>but are on same topic</td>
		</tr>	
	     <tr>		
			<td valign="center"><input name="response2" type="radio" value="0" /></td>
			<td><b>(0)On different topic</b></td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>

<div style="background-color:lightblue;">
<p><strong>3.:</strong></p>

<p><strong>Sentence1:</strong></p>

<p>${stringa_3}&nbsp;</p>

<p><strong>Sentence2:</strong></p>

<p>${stringb_3}</p>

<p><b style="background-color: rgb(173, 216, 230);">Select a similarity score for the above pair of  sentences </b></p>

<table border="0" cellpadding="0" cellspacing="4">
	<tbody>
		<tr>
			<td valign="center"><input name="response3" type="radio" value="5" /></td>
			<td><b>(5)Completely equivalent, </b>mean exactly the same</td>
		</tr>
			
			<tr>
			<td valign="center"><input name="response3" type="radio" value="4" /></td>
			<td><b>(4)Mostly equivalent, </b> but some unimportant details differ</td>
			</tr>
	    <tr>		
			<td valign="center"><input name="response3" type="radio" value="3" /></td>
			<td><b>(3)Roughly equivalent, </b>but some important information differs/missing</td>
	    </tr>		
	    <tr>		
			<td valign="center"><input name="response3" type="radio" value="2" /></td>
			<td><b>(2)Not equivalent, </b>but share some details</td>
	    </tr>		
	    <tr>		
			<td valign="center"><input name="response3" type="radio" value="1" /></td>
			<td><b>(1)Not equivalent, </b>but are on same topic</td>
		</tr>	
	     <tr>		
			<td valign="center"><input name="response3" type="radio" value="0" /></td>
			<td><b>(0)On different topic</b></td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>

<div style="background-color:lightblue;">
<p><strong>4.:</strong></p>

<p><strong>Sentence1:</strong></p>

<p>${stringa_4}&nbsp;</p>

<p><strong>Sentence2:</strong></p>

<p>${stringb_4}</p>

<p><b style="background-color: rgb(173, 216, 230);">Select a similarity score for the above pair of  sentences </b></p>

<table border="0" cellpadding="0" cellspacing="4">
	<tbody>
		<tr>
			<td valign="center"><input name="response4" type="radio" value="5" /></td>
			<td><b>(5)Completely equivalent, </b>mean exactly the same</td>
		</tr>
			
			<tr>
			<td valign="center"><input name="response4" type="radio" value="4" /></td>
			<td><b>(4)Mostly equivalent, </b> but some unimportant details differ</td>
			</tr>
	    <tr>		
			<td valign="center"><input name="response4" type="radio" value="3" /></td>
			<td><b>(3)Roughly equivalent, </b>but some important information differs/missing</td>
	    </tr>		
	    <tr>		
			<td valign="center"><input name="response4" type="radio" value="2" /></td>
			<td><b>(2)Not equivalent, </b>but share some details</td>
	    </tr>		
	    <tr>		
			<td valign="center"><input name="response4" type="radio" value="1" /></td>
			<td><b>(1)Not equivalent, </b>but are on same topic</td>
		</tr>	
	     <tr>		
			<td valign="center"><input name="response4" type="radio" value="0" /></td>
			<td><b>(0)On different topic</b></td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>

<div style="background-color:lightblue;">
<p><strong>5.:</strong></p>

<p><strong>Sentence1:</strong></p>

<p>${stringa_5}&nbsp;</p>

<p><strong>Sentence2:</strong></p>

<p>${stringb_5}</p>

<p><b style="background-color: rgb(173, 216, 230);">Select a similarity score for the above pair of  sentences </b></p>

<table border="0" cellpadding="0" cellspacing="4">
	<tbody>
		<tr>
			<td valign="center"><input name="response5" type="radio" value="5" /></td>
			<td><b>(5)Completely equivalent, </b>mean exactly the same</td>
		</tr>
			
			<tr>
			<td valign="center"><input name="response5" type="radio" value="4" /></td>
			<td><b>(4)Mostly equivalent, </b> but some unimportant details differ</td>
			</tr>
	    <tr>		
			<td valign="center"><input name="response5" type="radio" value="3" /></td>
			<td><b>(3)Roughly equivalent, </b>but some important information differs/missing</td>
	    </tr>		
	    <tr>		
			<td valign="center"><input name="response5" type="radio" value="2" /></td>
			<td><b>(2)Not equivalent, </b>but share some details</td>
	    </tr>		
	    <tr>		
			<td valign="center"><input name="response5" type="radio" value="1" /></td>
			<td><b>(1)Not equivalent, </b>but are on same topic</td>
		</tr>	
	     <tr>		
			<td valign="center"><input name="response5" type="radio" value="0" /></td>
			<td><b>(0)On different topic</b></td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>



<p>&nbsp;</p>

<p>&nbsp;</p>

<div style="background-color:lightblue;">
<p><b>Thank you for your participation. If you have any comments on this exercise, you may optionally leave them in the box below.</b></p>

<p style="font-size: 12px; font-weight: normal;"><textarea cols="80" name="comments" rows="4"></textarea></p>
</div>

<p>&nbsp;</p>
