<h1 style="text-align: center;">&nbsp; &nbsp; Instructions</h1>

<p>In this task, you will carefully read <b>five</b>&nbsp;dialogues where two people are debating over the gay rights issue. Then you 
will produce a summary of each dialogue in <b>125 </b>words.<br>
<b>The Summary should include the key arguments and rebuttals expressed in the dialogue and not any personal opinions. Please 
adhere to the word limit.
Important: Use simple sentences to write the summary. Do not combine too many clauses in a single sentence.

We will be keeping track of worker reliability. HITs will be rejected for workers that write too short summaries which do not express 
the content in these dialogues.</b><br/>

Given below is a dialogue and sample summary to illustrate our requirement.<br/>
<p>S1 and S2 indicate the different writers of these typed debates. Numbers indicate turns taken by each writer.
S1:1 indicates the first turn by Writer1, and S2:1 indicates the first turn by Writer2.</p>
<h2 align="center"> Sample Dialogue </h2>
     
     
     <p>
     
     <br/><b>S1:1 </b>-You're late . I didn't bring up religon in my argument . Jake did . So please don't specualte anything until you knwo what we're talking about . All laws are based upon morals . So it is based upon the morals of the country whcih happen to be predominantly Christian . England was one of many countries . There is no new family structure that didn't exist before this country . My definition of negative effect is that the puposes for which something is created is hindered or compromises . By changing standards there is a harm to it's integrity . Intregrity is compromised when it isn't stable . Soemthing that changes all teh time loses that integrity like John Kerry on his views . Things must remain consistent to be integral . This argument has a flaw . That when there is guaranteed religous freedomw then we dont ' have equal rights . Everyone has equal rights in terms of believing . However behavior is regualted by the government . Therefore we can do anyting in the name of religion until it violates behavior that is acceptable by society .
     <br/> <b>S2:1 </b>- Fine , so what if the government said people are free to ' believe ' in God , but any sign of them putting their belief into practice , such as going to church or even just praying in private was illegal ? Would that be acceptable ? After all it is just regulating behaviourA , not belief ? Your comparisons are ludicrous . All of these situations involve non-consensual acts either through lack of knowledge or involvement of minors . You cannot compare that to consensual acts between adults .  
     <br/> <b>S1:2 </b>-That probably wouldn't be acceptable to most people but it would be legal and equal . They don't allow religious practices of polygamy , animal or human sacrifices , body mutilation , and many other religious practices . So then we should allow prostitution , polygamy , human trafficking , drug trafficking , gambling , drug distribution , and all other consensual acts . 
     <br/> <b>S2:2 </b>-  But they obviously wouldn't be equal , because a significant proportion of the population would be restricted from worshipping how they want in a for that hurts nobody . These elements mostly have links to crime over and above the act itself , that justifies restrictions . Homosexuality doesn't . 
     <br/> <b>S1:3 </b>-The poeple would be equal . The religions would not . Look at our country . Almost all Christian beleifs are legal and no other non-Christians Churches have almost all their legal beleifs . That's it ? Crime ? That's it . The criminal link ? So if they criminalized homosexuality then it would be okay to ban gay marriage . Homosexuality has links to crime too . Sodomy is a crime . Define harm becaue homosexuality is harmful according to many . 
     <br/> <b>S2:3 </b>-This is not equality . You are using the letter of the law to twist the purpose of the law , and even then doing it using very shaky logic . Equality is about general concepts , not specifics . It is equality to say ' everyone is has the same right to worship who they want ' , it is not equality to say ' everyone has the same right to worship who we tell them to ' . That is equality within an unequal system , which cannot be counted . Can you re-phrase , I don't follow . No . As I said , those have strong links to criminal activity irrespective of the act itself being a crime . For example drug use has noted links to theft , the same just cannot be said for homosexuality . No it isn't . And even if it was , that has nothing to do with homosexuality anyway . Physical or psychological injury or damage . Homosexuality is therefore in no way harmful . And I have serous doubts about the ' many ' who say it is .  
     <br/> <b>S1:4 </b> -Equality is treating every person the same . However it does not mean treating every person's behavior the same . It does not mean treat every organization the same either . Everyone has the same rights . NOt every religous practice , ideology , or behavior get the same treatment . Teh people determine what is in the public's interest to protect and ban . It basically only the Christian practices that are completely legal . Islamic polgamy and other religons don't have their practices recognized as often as christianity . Homosexuality has strong links to sodomy . Also prostitution is legal in Nevada so shoudl all states be forced to allow taht behavior ? Insome states adults cann have sex wiht 14 - 16 yr olds in some cases . Should other states recognize that too ? Most serial killers of men and young boys were homosexuals . Sodomy is a crime do you wnat me to post it ? gynocologist , Gi specialists , and colon specialist have all stated the effects homosexual related activites . Also there is a higher risk of disease transmission among homosexual men so much so they are not allowed to donate blood for 5 yrs from their last activity .  
     </p>
     
     <h2 align = "center" >Unacceptable  Summary with complex  sentences</h2>
     S1 and S2 are discussing the topic of gay marriage rights.  S1 states he is not exactly opposed to gay marriage but 
     would like someone to give valid reasoning behind restructuring the basis of marriage since it's been the same since the 
     beginning of time, comparing it to the Parthenon.  S2 feels it is circular to classify marriage as simply heterosexual.  
     He believes no one is attempting to take away the idea of marriage, just asking for homosexual couples to be included in 
     the fray.  S1 disagrees with S2's statements that at the root, most homosexuals fighting for marriage rights are doing so 
     on a conservative note.  He feels instead that the reasons are a "we are entitled to what you have" mentality.  
     S2 disagrees stating that while many do want acceptance from society, most want marriage for the basic reasons of marriage.  
     He also feels S1's arguments support the notion that laws should stay absolute and cannot be changed or altered.  
     S1 disagrees with this statement advising he simply wants the reasons supported.

         <br/>
<h1 style="text-align: center;">Task 1</h1>
      <h2 align = "center" >Acceptable  Summary with simple  sentences</h2>
 S1 and S2 are discussing the topic of gay marriage rights. 
 S1 states he is not exactly opposed to gay marriage. S1 would like someone to give valid reasoning behind restructuring 
 the basis of marriage since it's been the same since the beginning of time. He compares it to the Parthenon. S2 feels it
  is circular to classify marriage as simply heterosexual. He believes no one is attempting to take away the idea of marriage, 
  just asking for homosexual couples to be included in the fray. S1 disagrees with S2's statements that at the root, 
  most homosexuals fighting for marriage rights are doing so on a conservative note.  
  He feels instead that the reasons are a "we are entitled to what you have" mentality. 
  S2 disagrees stating that while many do want acceptance from society, most want marriage 
  for the basic reasons of marriage. He also feels S1's arguments support the notion that laws should stay 
  absolute and cannot be changed or altered. S1 disagrees with this statement advising he simply wants the reasons supported.


<p style="text-align: center;"><strong>Read the five dialogues given below and provide a summary of each dialogue in 125 words </strong></p>

	   
		
<script language= "javascript">
//Alter this variable depending on how many words you want to limit the textarea to.  
var maxword1 = 125;  
//var maxword2 = 250;  
  
function check_length(obj, cnt, rem,maxwords)  
{  
    var ary = obj.value.split(" ");  
    var len = ary.length;  
    cnt.innerHTML = len;  
    rem.innerHTML = maxwords - len;  
    if (len > maxwords) {  
        alert("Message in '" + obj.name + "' limited to " + maxwords + " words.");  
        ary = ary.slice(0,maxwords-1);  
        obj.value = ary.join(" ");  
        cnt.innerHTML = maxwords;  
        rem.innerHTML = 0;  
        return false;  
    }  
    return true;  
} 
</script>

<table border="1">
	<tbody>
	   <tr>
			<th>dialog 1</th>			
       </tr>
       
       <tr>
              <td>${Dialogtext1}</td>
       </tr> 
        
        <tr>
			<td>
			<p>In 175 words, summarize <strong>dialog 1.</strong></p>
			<strong><textarea name="Dialog1_Summary" onkeypress=" return check_length(this, document.getElementById('count_number_words1'), document.getElementById('show_remaining_words1'),maxword1);" style="width: 700px; height: 100px;"></textarea> </strong>

			<p><strong>&nbsp;</strong></p>
			<p><strong><strong>&nbsp;</strong></strong></p>
			<strong><strong> </strong></strong></td>			
			</td>
			<td>
				<p><font color="black">Word count:</font><font color="red"> <span id="count_number_words1">0</span> </font><br />
				<font color="black">Words remaining: </font><font color="red"> <span id="show_remaining_words1">175</span> </font></p>

			</td>
	    </tr>
	     
	    <tr>
			<th>dialog 2</th>
		</tr>
        <tr>
              <td>${Dialogtext2}</td>
        </tr> 
        
        <tr>
            <td>
			<p>In  175words, summarize <strong>dialog 2.</strong></p>
			<strong><textarea name="Dialog2_Summary" onkeypress=" return check_length(this, document.getElementById('count_number_words2'), document.getElementById('show_remaining_words2'),maxword1);" style="width: 700px; height: 100px;"></textarea> </strong>

			<p><strong>&nbsp;</strong></p>
			<p><strong><strong>&nbsp;</strong></strong></p>
			<strong><strong> </strong></strong></td>			
			</td>
			<td>
				<p><font color="black">Word count:</font><font color="red"> <span id="count_number_words2">0</span> </font><br />
				<font color="black">Words remaining: </font><font color="red"> <span id="show_remaining_words2">175</span> </font></p>

			</td>		      			
		</tr>
			
			
			
		<tr>
			<th>dialog 3</th>			
       </tr>
       
       <tr>
              <td>${Dialogtext3}</td>
       </tr> 
        
        <tr>
			<td>
			<p>In 175 words, summarize <strong>dialog 3.</strong></p>
			<strong><textarea name="Dialog3_Summary" onkeypress=" return check_length(this, document.getElementById('count_number_words3'), document.getElementById('show_remaining_words3'),maxword1);" style="width: 700px; height: 100px;"></textarea> </strong>

			<p><strong>&nbsp;</strong></p>
			<p><strong><strong>&nbsp;</strong></strong></p>
			<strong><strong> </strong></strong></td>			
			</td>
			<td>
				<p><font color="black">Word count:</font><font color="red"> <span id="count_number_words3">0</span> </font><br />
				<font color="black">Words remaining: </font><font color="red"> <span id="show_remaining_words3">175</span> </font></p>

			</td>
	    </tr>
		
		
		
		<tr>
			<th>dialog 4</th>			
       </tr>
       
       <tr>
              <td>${Dialogtext4}</td>
       </tr> 
        
        <tr>
			<td>
			<p>In 175 words, summarize <strong>dialog 4.</strong></p>
			<strong><textarea name="Dialog4_Summary" onkeypress=" return check_length(this, document.getElementById('count_number_words4'), document.getElementById('show_remaining_words4'),maxword1);" style="width: 700px; height: 100px;"></textarea> </strong>

			<p><strong>&nbsp;</strong></p>
			<p><strong><strong>&nbsp;</strong></strong></p>
			<strong><strong> </strong></strong></td>			
			</td>
			<td>
				<p><font color="black">Word count:</font><font color="red"> <span id="count_number_words4">0</span> </font><br />
				<font color="black">Words remaining: </font><font color="red"> <span id="show_remaining_words4">175</span> </font></p>

			</td>
	    </tr>
		
		
		
		<tr>
			<th>dialog 5</th>			
       </tr>
       
       <tr>
              <td>${Dialogtext5}</td>
       </tr> 
        
        <tr>
			<td>
			<p>In 175 words, summarize <strong>dialog 5.</strong></p>
			<strong><textarea name="Dialog5_Summary" onkeypress=" return check_length(this, document.getElementById('count_number_words5'), document.getElementById('show_remaining_words5'),maxword1);" style="width: 700px; height: 100px;"></textarea> </strong>

			<p><strong>&nbsp;</strong></p>
			<p><strong><strong>&nbsp;</strong></strong></p>
			<strong><strong> </strong></strong></td>			
			</td>
			<td>
				<p><font color="black">Word count:</font><font color="red"> <span id="count_number_words5">0</span> </font><br />
				<font color="black">Words remaining: </font><font color="red"> <span id="show_remaining_words5">175</span> </font></p>

			</td>
	    </tr>
				
	</tbody>
</table>

<p>&nbsp;</p>

		</tr>
	</tbody>
</table>

<p><strong>&nbsp;</strong></p>

<hr />
<p><strong>Please provide any feedback that you have regarding this task. Thank you!</strong></p>

<p><strong><textarea cols="80" name="comment" rows="3"></textarea></strong></p>

<p><strong>&nbsp;</strong></p>

<p><strong>
<style type="text/css"><!--
.highlight-box { border:solid 0px #98BE10; background:#FCF9CE; color:#222222; padding:4px; text-align:left; font-size: smaller;}
-->
</style>
</strong></p>

<p><strong>&nbsp;</strong></p>