<h1 style="text-align: center;">&nbsp; &nbsp; Instructions</h1>

<p>In this task, you will carefully read <b>three</b>&nbsp;dialogues where two people are debating over the gay rights issue. Then you 
will produce a summary of each dialogue in <b>175 </b>words.<br>
<b>The Summary should include the key arguments and rebuttals expressed in the dialogue and not any personal opinions. Please 
adhere to the word limit.

We will be keeping track of worker reliability. HITs will be rejected for workers that write too short summaries which do not express 
the content in these dialogues.</b><br/>

<p>Any worker that meets our minimum reliability threshold will receive a &nbsp;50&nbsp;cent bonus per HIT for every HIT that they do after their&nbsp;third. 
This batch has 7&nbsp;possible HITs, so if you do them all you can get a <b>$2.0bonus</b>.</p>

<p>&nbsp;</p>

Given below is a dialogue and sample summary to illustrate our requirement.<br/>
<p>S1 and S2 indicate the different writers of these typed debates. Numbers indicate turns taken by each writer.
S1:1 indicates the first turn by Writer1, and S2:1 indicates the first turn by Writer2.</p>
<h2 align="center"> Sample Dialogue </h2>
     
     
     <p>
     <b>S1:1</b> -We don't just benefit from what is often considered the common , nuclear family . We benefit from families with adopted children , step children , families with no children at all . No it does not . Prove it will come up , and also prove it will come up as a result of same-sex marriage . Marriage is that now . You're right , it has nothing to do with the Bible . It has everything to do with the slippery slope logical fallacy , which we've discussed in the forum ad nauseum . It only shows that those opposed do not have an argument . You know the prospect of incest and polygamy is much less socially acceptable than gay marriage , so you try to erroneously tie polygamy and incest to gay marriage in people's mind to strike fear in them , and hope their logical reasoning can be replaced by irrational fear .
<br/><b>S2:1</b>- a married couple as the head of a home is considered a nuclear family it already has . the question of legality is what this whole issue is about . marriage is a legal instituation , how could legality NOT come up . yes it is whoa ... hold up ... are you saying that only because gay marriage is less unacceptable that incestuous relations , that its ok to grant gay marriage but not sibling marriage ?? if the incestuous society begin to parade and protest , until society accepts them on the level that they accept gays now , what will you say then ? on what grounds should we discriminate against 2 siblings wanting to get married , particularly if they believe they truly love each other , or if they believe that they were born with that attraction ? this is classic hypocracy . if 2 siblings want to love each other in their private lives , how is that any business of yours ? and what does irrational fear have to do with anything ? do you have an irrational fear of an incestuous or polygamous lifestyle ? based on what ? give me one reason why society shouldnt accept an incestuous relation between two consenting adults 
<br/><b>S1:2</b>- Then what may lead to incest and polygamy is the fact that marriage is a legal institution , is that what you are saying ? If so , these things may come up equally as a result of straight legal marriage or gay legal marriage or interracial legal marriage , or legal inter-faith marriage or legal marriage with legal divorce , etc. It doesn't relate specifically to gay legal marriage at all . I was saying this is how many people attempt an argument against gay marriage , by attempting to incite fear by spouting off a parade of horribles that have nothing to do with the issue of gay marriage . What if straight people are married and winged green monkeys come flying out of everyone's derriere in the future ? What will you do then ? Demonstrate how gay marriage specifically relates to incest and incestuous marriage and polygamy . This is the gay rights forum , not the incest forum .
<br/><b>S2:2</b>- thats not what im saying . what may lead to incestuous marriage is if siblings or related people who love each other and want to live together under the legal union of marriage . and what may lead to polygamous marriage is 3 or more people who love each other and want to live together under the legal union of marriage . do you see a pattern here ? ooooh .. nice way to snake out of the issue ... let me refresh your memory since you brought it up , what exactly does the social acceptance of any type of " taboo " relationship have to do with their right to be legally married ? is there a certain limit of " tabooness " , and if youre past that limit then no marriage for you ? and what fear are you talking about ? i'm talking about people that love each other and want to tie the knot . how could that possibly strike fear in somebody ? please .... 
<br/><b>S1:3</b>- Yes , that's true . Yes , that's true . Are you saying love is the pattern ? Well , love applies to straight marriages as well as gay marriages . Love is not exclusive to gay marriages . If that's the connection , we can just as easily say straight marriage will lead to incestuous marriage and polygamy . You are saying love will cause a slippery slope . It's still fallacious . The issue I brought up was why this fallacy is often used , that is to create fear , because incest and polygamy are indeed considered so taboo . The issue is not the tabooness of anything and everything , but how it is being used to distract from the issue of same-sex marriage , when there isn't a logical , rational argument against same-sex marriage . It's an indication of desperation on the part of some of those who are against same-sex marriage . I have no reason to discuss the level of acceptability or lack thereof of every single thing , before I accept one thing that is different from all those other things . I can deal with that one thing on all of its own merits and shortfalls , without being drawn into a false dilemma , either accept everything or else don't accept one thing , as if those are the only two choices , fallacy .
<br/><b>S2:3</b>- gay marriage will change the definition of marriage from " a legal union between a man and a woman " to " a legal union between any parties that love each other " . if its ok for 2 people that love each other and want to tie the knot , then how could incest be a taboo ? based on what ? again with the double standard . gay marriage was considered just as much a taboo as incest or polygamy just a few years ago . being gay emerged from its taboo status through parades , promotional efforts , and , unfortunately , by spreading lies ( i'll deal with that in another thread ) . however , incestuous people didnt go through the process of parading their lifestyle in front of the world and practically begging for approval from society . so incest is still deeper in taboo status than homosexuality . why is it ok to deny incestuous relations the right to marry on the grounds that it is considered taboo , but ok to approve gay marriage on the same grounds ?
    </p>
     
     <h2 align = "center" > Sample Summary</h2>
     S1 thinks that society does not  benefit from just common nuclear family, but also from a family with adopted or step children and even a 
     family with no children at all. He believes that marriage has nothing to do with the bible. Incest and polygamy doesn't relate specifically to 
     gay legal marriage. People who are against gay marriage try to dissuade others by replacing logical reasoning with irrational fear.
     Love is not exclusive to gay marriages, but applies to straight marriages as well. It is fallacious to believe that love will lead to a 
     slippery slope. Those against gay marriage should use logical and rational arguments instead of linking it to polygamous or  incestuous relations
     <br/>S2 believes that homosexuality, incest, and polygamy are all related because they are all taboos of society. 
    He wants to draw the line as is so the definition of marriage does not change. If it does change, then there would be no limit to who could marry and people 
     in incestuous or polygamous relations would parade their lifestyle and have an equal opportunity to make their marriage a social issue and 
     one may have to legalize these marriages as well based on the same love argument .
<h1 style="text-align: center;">Task 1</h1>


<p style="text-align: center;"><strong>Read the three dialogues given below and provide a summary of each dialogue in 175 words </strong></p>

	   
		
<script language= "javascript">
//Alter this variable depending on how many words you want to limit the textarea to.  
var maxword1 = 175;  
//var maxword2 = 250;  
  
function check_length(obj, cnt, rem,maxwords)  
{  
    var ary = obj.value.split(" ");  
    var len = ary.length;  
    cnt.innerHTML = len;  
    rem.innerHTML = maxwords - len;  
    if (len > maxwords) {  
        alert("Message in '" + obj.name + "' limited to " + maxwords + " words.");  
        ary = ary.slice(0,maxwords-1);  
        obj.value = ary.join(" ");  
        cnt.innerHTML = maxwords;  
        rem.innerHTML = 0;  
        return false;  
    }  
    return true;  
} 
</script>

<table border="1">
	<tbody>
	   <tr>
			<th>dialog 1</th>			
       </tr>
       
       <tr>
              <td>${Dialogtext1}</td>
       </tr> 
        
        <tr>
			<td>
			<p>In 175 words, summarize <strong>dialog 1.</strong></p>
			<strong><textarea name="Dialog1_Summary" onkeypress=" return check_length(this, document.getElementById('count_number_words1'), document.getElementById('show_remaining_words1'),maxword1);" style="width: 700px; height: 100px;"></textarea> </strong>

			<p><strong>&nbsp;</strong></p>
			<p><strong><strong>&nbsp;</strong></strong></p>
			<strong><strong> </strong></strong></td>			
			</td>
			<td>
				<p><font color="black">Word count:</font><font color="red"> <span id="count_number_words1">0</span> </font><br />
				<font color="black">Words remaining: </font><font color="red"> <span id="show_remaining_words1">175</span> </font></p>

			</td>
	    </tr>
	     
	    <tr>
			<th>dialog 2</th>
		</tr>
        <tr>
              <td>${Dialogtext2}</td>
        </tr> 
        
        <tr>
            <td>
			<p>In  175words, summarize <strong>dialog 2.</strong></p>
			<strong><textarea name="Dialog2_Summary" onkeypress=" return check_length(this, document.getElementById('count_number_words2'), document.getElementById('show_remaining_words2'),maxword1);" style="width: 700px; height: 100px;"></textarea> </strong>

			<p><strong>&nbsp;</strong></p>
			<p><strong><strong>&nbsp;</strong></strong></p>
			<strong><strong> </strong></strong></td>			
			</td>
			<td>
				<p><font color="black">Word count:</font><font color="red"> <span id="count_number_words2">0</span> </font><br />
				<font color="black">Words remaining: </font><font color="red"> <span id="show_remaining_words2">175</span> </font></p>

			</td>		      			
		</tr>
			
			
			
		<tr>
			<th>dialog 3</th>			
       </tr>
       
       <tr>
              <td>${Dialogtext3}</td>
       </tr> 
        
        <tr>
			<td>
			<p>In 175 words, summarize <strong>dialog 3.</strong></p>
			<strong><textarea name="Dialog3_Summary" onkeypress=" return check_length(this, document.getElementById('count_number_words3'), document.getElementById('show_remaining_words3'),maxword1);" style="width: 700px; height: 100px;"></textarea> </strong>

			<p><strong>&nbsp;</strong></p>
			<p><strong><strong>&nbsp;</strong></strong></p>
			<strong><strong> </strong></strong></td>			
			</td>
			<td>
				<p><font color="black">Word count:</font><font color="red"> <span id="count_number_words3">0</span> </font><br />
				<font color="black">Words remaining: </font><font color="red"> <span id="show_remaining_words3">175</span> </font></p>

			</td>
	    </tr>
		
		
		
		
				
	</tbody>
</table>

<p>&nbsp;</p>

		</tr>
	</tbody>
</table>

<p><strong>&nbsp;</strong></p>

<hr />
<p><strong>Please provide any feedback that you have regarding this task. Thank you!</strong></p>

<p><strong><textarea cols="80" name="comment" rows="3"></textarea></strong></p>

<p><strong>&nbsp;</strong></p>

<p><strong>
<style type="text/css"><!--
.highlight-box { border:solid 0px #98BE10; background:#FCF9CE; color:#222222; padding:4px; text-align:left; font-size: smaller;}
-->
</style>
</strong></p>

<p><strong>&nbsp;</strong></p>